body {
    margin: 0;
    font-family: tsystem-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    font-weight: 4000;
    line-height: 24px;
    color: white;
    text-align: center;
    background-color: black;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.main {
    min-height: 100%;
    margin: 0;
}

header {
    border-bottom: 1px solid #272729;
    box-shadow: rgb(39, 39, 41) 0 0 0;
}

.background {
    background: repeating-linear-gradient(
            60deg,
            transparent,
            transparent 2px,
            rgb(14, 14, 14) 2px,
            rgb(14, 14, 14) 10px
    ),
    linear-gradient(
            120deg,
            rgb(14, 14, 14) 20%,
            rgb(0, 0, 0),
            rgb(14, 14, 14) 100%
    );
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    height: 64px;
    background-color: rgb(164, 80, 139);
    background-image: linear-gradient(326deg, rgb(164, 80, 139) 0%, rgb(95, 10, 135) 74%);
}

.navbar-container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
}

.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    line-height: 1.2;
}

effect-container {
    width: 100%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

activation-container {
    width: 100%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

effect-button {
    transition-duration: 0.25s;
    transition-property: background-color, color;
    font-weight: bold;
    font-size: medium;
    background-color: rgb(199, 0, 255);
    border: none;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    margin: 5px;
    border-radius: 20px 5px 20px 5px;
    user-select: none;
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

activation-button {
    transition-duration: 0.25s;
    transition-property: background-color, color;
    font-weight: bold;
    font-size: medium;
    background-color: rgb(255, 251, 0);
    border: none;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    margin: 5px;
    border-radius: 20px 5px 20px 5px;
    user-select: none;
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

effect-button:active {
    background-color: rgb(40, 0, 50);
    color: rgb(51, 51, 51);
}

effect-button:hover:not(:active) {
    color: rgb(255, 255, 255);
}

effect-button:focus {
    box-shadow: none;
}

effect-button:focus:not(:focus-visible) {
    outline: none !important;
}

effect-button:focus-visible {
    outline: -webkit-focus-ring-color auto 1px;
}